/*
 * МІНІМАЛЬНИЙ ШАБЛОН (Login.css)
 *
 * Пояснення:
 * 1. Створюй тут класи, які ти вказав у .jsx (напр., .login-title).
 * 2. Для кольорів, рамок, тіней, шрифтів ЗАВЖДИ
 * використовуй змінні (напр. 'var(...)') з 'index.css'.
 */

/* == Це приклад */
.login-title {
  /*
   * Замість "hard-code": color: #37352f;
   * Ми пишемо так:
   */
  color: var(--text-primary);
  font-family: var(--font-sans);

  /* Інші стилі */
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 5rem;

  text-align: center;
}

/*
 * ============================================
 * == НАВІГАЦІЯ  ==
 * ============================================
 *
 * Тепер, за аналогією, додай сюди стилі для
 * решти компонентів з Trello:
 *
 * .login-label { ... }
 * .login-input { ... }
 * .login-button { ... }
 * .login-page-wrapper { ... }
 *
 */