/* ! Global Styles - Глобальні стилі як у https://www.notion.com/ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica', 'Apple Color Emoji', sans-serif;
  color: #37352f;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
}
